*{
	margin: 0;
	padding: 0;
}
html{
	height: 100%;
}
body{
	height: 100%;
}
#app{
	width: 100%;
	height: 100%;
}
.top{
	height: 40px;
	width: 100%;
	background: rgb(247,247,247);
	border-bottom: 1px solid #CCCCCC;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	/*vertical-align: middle;*/
}
.top_title{
	padding:8px;
	padding-left: 12%;
}
.header{
	height: 100px;
	width: 100%;
	/*background-color: blue;*/
}
.titleImg{
	height: 80%;
	float: left;
	margin-left: 11% ;
	position: relative;
	top: 10%;
}
.search{
	height: 100%;
	width: 35%;
	margin-left: 35%;
	/*background-color: #008000;*/
	/*line-height: 100%;*/
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	/*justify-content: center;*/
}
.bookrack{
	width: 10%;
	height: 40px;
	float: right;
	margin-right: 10%;
	/*background-color: bisque;*/
	position: relative;
	top: -70px;
	right: 10%;
	/*border: black solid 2px;
	border-radius: 5px;
	overflow: hidden;*/
}
.navigation{
	height: 40px;
	width: 100%;
	background-color: rgb(62,61,67);
}
.navigation_second{
	height: 100%;
	width: 80%;
	float: left;
	padding-left: 10%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	/*background-color: #66B1FF;*/
	color: white;
}
.condition{
	width: 80%;
	height: 200px;
	margin-left: 10%;
	margin-top: 40px;
	background-color: #8CC5FF;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-around;
}
.option{
	background-color: red;
	border-radius: 3px;
}
.books{
	width: 80%;
	/*height: 1200px;*/
	margin-left: 10%;
	margin-top: 40px;
	background-color: #DCDCDC;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
.book{
	width: 48%;
	height: 200px;
	/*background-color: #8C939D;*/
	/*border: 1px solid #CF9236;*/
	border-bottom: 1px solid #BCBEC2;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}
.bookImg{
	width: 20%; 
	height: 150px;
	cursor: pointer;
}
.bookContent{
	width: 70%;
	height: 150px;
	margin-left: 5%;
	/*border: 1px solid #DD6161;*/
	/*display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;*/
}
.bookWriter{
	margin-bottom: 10px;
	margin-top: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}
.page{
	width: 80%;
	margin-left: 10%;
	margin-top: 10px;
	/*background-color: red;*/
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.lowest{
	width: 90%;
	height: 100px;
	/*background-color: greenyellow;*/
	position: relative;
	/*top: 300px;*/
	right: -5%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
.lowest_first{
	width: 100%;
	height: 2px;
	background-color: #BBBBBB;
	margin:15px ;
	/*position: relative;
	top: 30px;*/
}
