*{
	margin: 0;
	padding: 0;
}
html{
	height: 100%;
}
body{
	height: 100%;
}
#app{
	width: 100%;
	height: 100%;
}
.top{
	height: 40px;
	width: 100%;
	background: rgb(247,247,247);
	border-bottom: 1px solid #CCCCCC;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	/*vertical-align: middle;*/
}
.top_title{
	padding:8px;
	padding-left: 12%;
}
.header{
	height: 100px;
	width: 100%;
	/*background-color: blue;*/
}
.titleImg{
	height: 80%;
	float: left;
	margin-left: 11% ;
	position: relative;
	top: 10%;
}
.search{
	height: 100%;
	width: 35%;
	margin-left: 35%;
	/*background-color: #008000;*/
	/*line-height: 100%;*/
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	/*justify-content: center;*/
}
.bookrack{
	width: 10%;
	height: 40px;
	float: right;
	margin-right: 10%;
	/*background-color: bisque;*/
	position: relative;
	top: -70px;
	right: 10%;
	/*border: black solid 2px;
	border-radius: 5px;
	overflow: hidden;*/
}
.navigation{
	height: 40px;
	width: 100%;
	background-color: rgb(62,61,67);
}
.navigation_second{
	height: 100%;
	width: 80%;
	float: left;
	padding-left: 10%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	/*background-color: #66B1FF;*/
	color: white;
}
.userInfo{
	width: 80%;
	margin-left: 10%;
	/*background-color: green;*/
}
.userInfoForm{
	width: 80%; 
	margin-top: 60px; 
	margin-left: 10%; 
	border: #000000 solid 1px;
}
.userInfoItem{
	height: 50px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
}
.lowest{
	width: 90%;
	height: 100px;
	position: relative;
	right: -5%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
.lowest_first{
	width: 100%;
	height: 2px;
	background-color: #BBBBBB;
	margin:15px ;
	/*position: relative;
	top: 30px;*/
}
