<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>全部小说</title>
		<link rel="stylesheet" type="text/css" href="css/all.css">
		<!--<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">-->
		<!--<script src="https://unpkg.com/element-ui/lib/index.js"></script>-->
		<link rel="stylesheet" href="css/element-ui.css">
		<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
		<script type="text/javascript" src="js/vue.min.js"></script>
		<!--<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>-->
		<script src="js/element-ui.js"></script>
		<script type="text/javascript" src="js/md5.js"></script>
		<script type="text/javascript" src="js/usecookie.js" ></script>
	</head>
	<body>
		<div id="app">
			<div class="top">
				<h4 class="top_title" @click="window.location.href= 'index.html'">67小说网</h4>
				<span v-show="!isLogin" style="position: relative; right: 10%;"><a @click="loginDialog=true">登录</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a @click="registerDialog=true">注册</a></span>
				<span v-show="isLogin" style="position: relative; right: 10%;"><a @click="window.open('user.html')">{{loginUser.username}}</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a style="color: #C8C9CC;" @click="logOut">退出</a></span>
			</div>
			<div class="header">
				<img class="titleImg" src="img/title.png" @click="window.location.href= 'index.html'" />
				<div class="search">
					<el-input placeholder="请输入内容" v-model="input" clearable> </el-input>
					<el-button type="primary" icon="el-icon-search" @click="if(input!=''&&input!=null){window.location.href='search.html'+'#'+input}">搜索</el-button>
				</div>
				<!--<div  >-->
					<el-button class="bookrack"icon="el-icon-notebook-1" @click="window.location.href= 'bookrack.html'">&nbsp;&nbsp;我&nbsp;的&nbsp;书&nbsp;架</el-button>
				<!--</div>-->
			</div>
			<div class="navigation">
				<div class="navigation_second">
					<h3 style="cursor: pointer" @click="window.location.href= 'index.html'">首&nbsp;&nbsp;页</h3>
					<h3 style="cursor: pointer" @click="window.location.href= 'all.html'">全&nbsp;&nbsp;部&nbsp;&nbsp;作&nbsp;&nbsp;品</h3>
					<h3 style="cursor: pointer" @click="window.location.href= 'all.html#全部/全部/全部/已完本'">完&nbsp;&nbsp;本&nbsp;&nbsp;小&nbsp;&nbsp;说</h3>
					<h3 style="cursor: pointer" @click="window.location.href= 'ranking.html'">小&nbsp;&nbsp;说&nbsp;&nbsp;排&nbsp;&nbsp;行&nbsp;&nbsp;榜</h3>
				</div>
			</div>
			<div class="condition">
				<h3>全部小说</h3>
				<span>
					作品分类:&nbsp;&nbsp;&nbsp;&nbsp;
					<a v-for="(item,index) in classifications">
						<span :class="{'option': item.isOption}" @click="classOption=item.optionName; changeOption(classifications,item.optionName)">{{item.optionName}}</span>&nbsp;&nbsp;
					</a>
				</span>
				<span>
					作品字数:&nbsp;&nbsp;&nbsp;&nbsp;
					<a v-for="(item,index) in amounts">
						<span :class="{'option': item.isOption}" @click="amountOption=item.optionName; changeOption(amounts,item.optionName)">{{item.optionName}}</span>&nbsp;&nbsp;
					</a>
				</span>
				<span>
					更新时间:&nbsp;&nbsp;&nbsp;&nbsp;
					<a v-for="(item,index) in times">
						<span :class="{'option': item.isOption}" @click="timeOption=item.optionName; changeOption(times,item.optionName)">{{item.optionName}}</span>&nbsp;&nbsp;
					</a>
				</span>
				<span>
					写作进度:&nbsp;&nbsp;&nbsp;&nbsp;
					<a v-for="(item,index) in states">
						<span :class="{'option': item.isOption}" @click="stateOption=item.optionName; changeOption(states,item.optionName)">{{item.optionName}}</span>&nbsp;&nbsp;
					</a>
				</span>
			</div>
			<div class="books">
				<div class="book" v-for="book in pageBooks">
					<img class="bookImg" :src="'cover/'+book.cover" @click="jumpBookDetails(book.id)"/>
					<div class="bookContent">
						<h2 style="cursor: pointer;" @click="jumpBookDetails(book.id)">{{book.bookName}}</h2>
						<div class="bookWriter">
							<span style="margin-right: 10px;">{{book.writer}}</span>|
							<span style="margin-right: 10px; margin-left: 10px;">{{book.type}}</span>|
							<span style="margin-left: 10px;">{{book.state}}</span>
						</div>
						<div style="font-size: 13px; line-height: 21px; height: 84px; overflow:hidden;">{{book.bookDescription}}</div>
					</div>
				</div>
			</div>
			<div class="page">
				<el-pagination page-size="10" :pager-count="11" layout="prev, pager, next" :total=total :current-page.sync="currentPage" @current-change="currentChange"> </el-pagination>
			</div>
			<div class="lowest" >
				<div class="lowest_first"></div>
				<span>本站所有小说为转载作品，所有章节均由网友上传，转载至本站只是为了宣传本书让更多读者欣赏。</span>
				<span>2020 67小说  All Rights Reserved.</span>
			</div>
			<el-dialog title="账号登录" :visible.sync="loginDialog" width="30%">
			  	<el-form ref="login" :model="loginInfo" status-icon :rules="rules" style="width: 90%; margin-left: 5%;">
				  	<el-form-item prop="account" >
    					<el-input v-model="loginInfo.account" placeholder="账号"></el-input>
  					</el-form-item>
  					<el-form-item prop="password" >
    					<el-input type="password" v-model="loginInfo.password" placeholder="密码"></el-input>
  					</el-form-item>
  					<el-form-item>
  						<el-checkbox v-model="checked">自动登录</el-checkbox>
  						<span style="float: right; cursor: pointer;" @click="loginDialog=false;registerDialog=true">免费注册</span>
  					</el-form-item>
				  	<el-form-item style="width: 100%; position: relative; top: -13px;">
				    	<el-button type="primary" @click="login" style="width: 100%;">登录</el-button>
				  	</el-form-item>
				</el-form>
			</el-dialog>
			<el-dialog title="注册账号" :visible.sync="registerDialog" width="30%">
			  	<el-form ref="registerInfo" :model="registerInfo" status-icon :rules="rules" style="width: 90%; margin-left: 5%;">
				  	<el-form-item prop="account" >
    					<el-input v-model="registerInfo.account" placeholder="账号"></el-input>
  					</el-form-item>
  					<el-form-item prop="password" >
    					<el-input id="registerPassword" type="password" v-model="registerInfo.password" placeholder="密码"  autocomplete="off"></el-input>
  					</el-form-item>
  					<el-form-item prop="againPassword" >
    					<el-input type="password" v-model="registerInfo.againPassword" placeholder="确认密码"  autocomplete="off"></el-input>
  					</el-form-item>
  					<el-form-item prop="email" >
    					<el-input v-model="registerInfo.email" placeholder="个人邮箱"></el-input>
  					</el-form-item>
				  	<el-form-item style="width: 100%;">
				    	<el-button type="primary" @click="resgister" style="width: 100%;">立即注册</el-button>
				  	</el-form-item>
				</el-form>
			</el-dialog>
		</div>
	</body>
	<script type="text/javascript" src="js/all.js" ></script>
	
</html>
